// Dark Theme Variables
@layer base {
  /* Dark mode - alias for consistency */
  .dark {
    --background: 167 15% 12%; 
    --foreground: 170 10% 80%; 
    --card: 160 20% 10%; 
    --card-foreground: 120 70% 90%; 
    --popover: 85 30% 8%; 
    --popover-foreground: 120 25% 85%; 
    --primary: 150 89% 50%; 
    --primary-foreground: 85 20% 6%; 
    --secondary: 214 83% 43%; 
    --secondary-foreground: 230 79% 87%; 
    --muted: 167 8% 9%; 
    --muted-foreground: 155 15% 65%; 
    --header-accent: 167 12% 7%; 
    --header-accent-foreground: 167 15% 75%; 
    --floating-header: 167 15% 15%; 
    --floating-header-foreground: 85 20% 86%; 
    --accent: 210 95% 70%; 
    --accent-foreground: 85 20% 6%;
    --destructive: 0 75% 55%; 
    --destructive-foreground: 0 0% 98%; 
    --border: 167 15% 25%; 
    --input: 167 5% 35%; 
    --ring: 120 85% 60%; 
    --chart-1: 120 85% 60%; 
    --chart-2: 150 60% 45%; 
    --chart-3: 170 50% 40%; 
    --chart-4: 90 80% 50%; 
    --chart-5: 130 70% 45%; 
    --construction-banner: 214 83% 43%; 
    --construction-banner-foreground: 45 3% 80%; 
    --scrollbar-track: 167 10% 20%; 
    --scrollbar-thumb: 155 35% 65%; 
    --scrollbar-thumb-hover: 155 15% 65%; 
  }
}